<template>
    <v-card>
        <v-card-title>{{item.name}}</v-card-title>
        <v-card-text>{{item.discription}}</v-card-text>
    </v-card>
</template>

<script>
    export default {
        name: "CatalogSectionList",
        props: {
            item: {
                type: Object
            }
        }
    }
</script>

<style scoped>

</style>