<template>
    <v-app>
        <v-container fluid>
            <v-layout>
                <v-flex v-for="item in items"
                        :key="item.id">
                    <catalog-list-item :item="item"></catalog-list-item>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
    import CatalogListItem from '../components/CatalogListItem'

    export default {
        name: "CatalogList",
        components: {CatalogListItem},
        data() {
            return {
                items: [
                    {
                        id: 1,
                        name: 'Moscow',
                        price: 1000,
                        time: 10
                    },
                    {
                        id: 2,
                        name: 'Saint Petersburg',
                        price: 1200,
                        time: 10
                    }
                ]
            }
        }
    }
</script>

<style scoped>

</style>