<template>
    <v-layout row>
        <v-flex>{{item.name}}</v-flex>
        <v-flex>{{item.price}}</v-flex>
        <v-flex>{{item.time}}</v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "CatalogListItem",
        props: {
            item: {
                type: Object
            }
        }
    }
</script>

<style scoped>

</style>