<template>
    <v-app>
        <v-container fluid>
            <v-layout row>
                <v-flex>
                    <v-card>{{item.name}}</v-card>
                </v-flex>
                <v-flex>
                    <v-card>{{item.discription}}</v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: "CountryTourCard",
        props: ['items']
    }
</script>

<style scoped>

</style>