<template>
    <v-app class="footer">
        <v-footer app dark heigh="auto">
            <v-spacer></v-spacer>
            <div>&copy; {{ new Date().getFullYear() }}</div>
        </v-footer>
    </v-app>
</template>

<script>
    export default {
        name: "AppFooter"
    }
</script>

<style scoped>

</style>