<template>
    <v-app>
        <v-container fluid>
            <v-layout row>
                <v-flex>{{item.name}}</v-flex>
                <v-flex>{{item.price}}</v-flex>
                <v-flex>{{item.time}}</v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: "Tour",
        props: ['items']
    }
</script>

<style scoped>

</style>