<template>
    <v-app>
        <v-container fluid>
            <v-layout>
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <v-card-title class="title">Lorem ipsum dolor.</v-card-title>
                        <v-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, obcaecati?</v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <v-card-title class="title">Lorem ipsum dolor.</v-card-title>
                        <v-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, obcaecati?</v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <v-card-title class="title">Lorem ipsum dolor.</v-card-title>
                        <v-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, obcaecati?</v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>
