<template>
    <v-app>
        <v-container fluid>
            <v-layout>
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <v-card-title class="title">On-line поиск туров по всем туроператорам</v-card-title>
                        <v-card-text>Sletaem — официальный представитель туристической компании Briz.ru.
                            На нашем сайте вы сможете заказать пляжный тур с отдыхом на море с перелетом из
                            Минска или другого города.
                            Поможем в подборе оптимального варианта в соответствии с вашим бюджетом.
                            Возможна рассрочка на выгодных условиях.
                            Отели на любой вкус для отдыха с детьми, разумные цены, система «все включено»:
                            путешествие порадует своей красотой и оставит незабываемые впечатления.
                            Вы сможете отлично отдохнуть во время тура и получить море удовольствия и впечатлений!
                            Заказывайте путевки онлайн или звоните нашим операторам!
                            Планируйте пляжный отдых в Италии, пляжный отдых в Грузии из Минска или другого города на
                            лето 2019 с умом!
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex>filter</v-flex>
            </v-layout>
                <v-flex v-for="item in items"
                        :key="item.id">
                    <catalog-section-list :item="item"></catalog-section-list>
                </v-flex>
        </v-container>
    </v-app>
</template>

<script>
    import CatalogSectionList from '../components/CatalogSectionList'

    export default {
        name: "CatalogIndex",
        components: {CatalogSectionList},
        data() {
            return {
                items: [
                    {
                        name: 'russia',
                        id: 1,
                        discription: 'Lorem ipsum dolor sit amet.'
                    },
                    {
                        name: 'turkey',
                        id: 2,
                        discription: 'Lorem ipsum dolor.'
                    }
                ]
            }
        }
    }
</script>

<style scoped>

</style>