<template>
    <v-app>
        <v-container fluid>
            <v-layout>
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <v-card-title class="title">Наши контакты</v-card-title>
                        <v-card-text>Мы рады видеть гостей в нашем офисе и всегда готовы
                            предложить интересный отдых. Золотые пляжи, голубые лагуны, знаменитые
                            достопримечательности, гастрономические изыски экзотических стран — выбор за вами.
                            Загляните к нам на чашечку вкусного капучино и решите, куда отправиться в отпуск.</v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <v-card-title class="title">Офис в самом центре столицы!</v-card-title>
                        <v-card-text>К нам легко доехать на автомобиле, общественным транспортом и
                            добраться пешком. Адрес: г. Минск, ул. Кальварийская, 16, офис 253 (3 этаж).</v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <v-card-text>
                            +375 (29) 180 70 70<br>
                            +375 (29) 310 80 80<br>
                            +375 (29) 239 22 23<br>
                            +375 (17) 300 99 77
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <v-card-title class="title">Работаем:</v-card-title>
                        <v-card-text>Понедельник-пятница : с 10.00 до 19.00<br>
                            Суббота: с 11.00 до 16.30<br>
                            Воскресенье: выходной</v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <div>map</div>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <v-card-title class="title">Form</v-card-title>
                        <v-card-text></v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: "Contacts"
    }
</script>

<style scoped>

</style>