<template>
    <v-app>
        <v-container fluid>
            <v-layout v-for="item in items" :key="item.id">
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <v-card-title class="title">{{item.name}}</v-card-title>
                        <v-card-text>{{item.dis}}</v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: "Stock",
        data() {
            return {
                items: [
                    {
                        id: 1,
                        name:  'lol',
                        dis: 'asdasd'
                    }
                ]
            }
        }
    }
</script>

<style scoped>

</style>